{% extends 'base.html' %}

{% block content %}


<h1>Sponsoring Business</h1>
<hr />

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ investor.name }}</span>
        <p>Sponsor: {{ investor.name }}</p>
        <p>Location: {{ investor.current_location }}</p>
        <p>Collection Market: {{ collection_market.name }}</p>
        <p>Deposits Made: {{ investor.deposits_made }}</p>
        <p>Community Contributions: {{ investor.community_contributions }}</p>
        <p>Rewards: {{ investor.gives_rewards }}</p>
        {% for bins in bin%}
        <p>{%investor.bin.name%}: {{ investor.bin.name }}</p>
        {% endfor %}
    </div>
    <!-- CARD ACTIONS -->
    <!-- <div class="card-action"> -->
        <!-- <a href="{% url 'bins_edit' bin.id %}">Edit</a> -->
        <!-- <a class="btn red" href="{% url 'cats_delete' cat_id=cat.id %}">Delete</a> -->
    <!-- </div> -->
</div>



{% endblock %}