{% extends 'base.html' %}

{% block content %}


<h1>Collection Market</h1>
<hr />

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ bins.type }}</span>
        <p>Bins Type: {{ bins.type }}</p>
        <p>Sponsor: {{ investor.name }}</p>
        <p>Location: {{ bins.location }}</p>
        <p>Collection Market: {{ collection_market.name }}</p>
        <p>Delivery To Plant Dates: {{ bins.delivery_date }}</p>
        <p>Delivery Plant Location: {{ bins.delivery_location }}</p>
        <p>Verified: {{ bins.verified }}</p>
        <p>Rewards: {{ bins.gives_rewards }}</p>
    </div>
    <!-- CARD ACTIONS -->
    <!-- <div class="card-action"> -->
        <!-- <a href="{% url 'bins_edit' bin.id %}">Edit</a> -->
        <!-- <a class="btn red" href="{% url 'cats_delete' cat_id=cat.id %}">Delete</a> -->
    <!-- </div> -->
</div>



{% endblock %}