{% extends 'base.html' %}

{% block content %}


<h1>My Tippings</h1>
<hr />

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ person.name }}</span>
        <p> {{ person.name }}</p>
        <p>Bio: {{ person.bio }}</p>
        <p>Rewards: {{ person.rewards }}</p>
        <p>Current Location: {{ person.current_location }}</p>
        <p>Deposits Made: {{ person.deposits_made }}</p>
        <p>Verifications: {{ person.verifications }}</p>
        <p>Found New Bins: {{ person.identify_new_bin }}</p>
        <p>Community Contributions: {{ person.community_contributions }}</p>
        
    </div>
    <!-- CARD ACTIONS -->
    <!-- <div class="card-action"> -->
        <!-- <a href="{% url 'bins_edit' bin.id %}">Edit</a> -->
        <!-- <a class="btn red" href="{% url 'cats_delete' cat_id=cat.id %}">Delete</a> -->
    <!-- </div> -->
</div>



{% endblock %}