{% extends 'base.html' %}

{% block content %}


<h1>Bin Busy- HBU</h1>
<hr />

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ collection_market.name }}</span>
        <p>{{ collection_market.name }}</p>
        <p>Location: {{ collection_market.location }}</p>
        <p>Collection Market: {{ collection_market.name }}</p>
        <p>Delivery To Plant Dates: {{ collection_market.delivery_date }}</p>
        <p>Delivery Plant Location: {{ collection_market.delivery_location }}</p>
        <p>Verified: {{ collection_market.verified }}</p>
        <p>Rewards: {{ collection_market.gives_rewards }}</p>
    </div>
    <!-- CARD ACTIONS -->
    <!-- <div class="card-action"> -->
        <!-- <a href="{% url 'bins_edit' bin.id %}">Edit</a> -->
        <!-- <a class="btn red" href="{% url 'cats_delete' cat_id=cat.id %}">Delete</a> -->
    <!-- </div> -->
</div>



{% endblock %}